.navbar {
    display: flex;
    background-color: gray;
    color: white;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding-right: 200px;
    padding-left: 200px;
}

a {
    color: white;
    text-decoration: none;
}

.header-links {
    display: flex;
    gap: 32px;
    font-size: x-large;
}

.header-logo {
    font-size:xx-large;
    font-weight: 700;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: gray;
    color: white;
}

.hero-heading {
    font-size: 64px;
}

p {
    font-size: 24px;
    font-weight: normal;
}

.button, .action-button {
    background-color: rgb(124, 124, 230);
    color: white;
    width: 170px;
    height: 60px;
    text-shadow: none;
    border-radius: 12px;
    cursor: pointer;
}

.cat-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding-bottom: 100px;
}

.content-heading {
    font-size: 48px;
    text-align: center;
}

.image {
    border-radius: 12px;
    border: 5px solid rgb(124, 124, 230);
}

.quote-container {
    display: flex;
    background-color: lightgrey;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    height: 350px;
    justify-content: center;
    
}

.quote {
    font-size: 48px;
    font-style: italic;
}

.quote-credit {
    font-size: 36px;
    text-align: right;
    font-weight: 700;
}

.caption {
    max-width: 250px;
}

.action-container {
    display: flex;
    border-radius: 12px;
    background-color: rgb(124, 124, 230);
    margin: 75px auto;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
}

h4 {
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-bottom: 0;
}

.action {
    margin-top: 0;
    color: white;
}

.action-button {
    border: 5px solid white;
}

.button:hover, .action-button:hover {
    background-color: rgb(34, 14, 43);
}

.footer-container {
    display: flex;
    background-color: gray;
    color: white;
    height: 100px;
    align-items: center;
    justify-content: center;
}

}




